
/* Button to open/close the menu */
.menu-button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}

.menu-button svg {
  width: 70%;
  height: 70%;
  color: var(--white-color);
}

/* The sliding menu drawer */
.menu-drawer {
  position: fixed;
  left: 0;
  right: 0;
  top: 4rem;
  overflow-x: auto;
  height: 100vh;
  width: 70vw ;
  background-color: #18181A;
  backdrop-filter: blur(5px);
  color: white;
  padding: 1.5rem;
  padding-bottom: 5rem;
  transition: transform 0.3s ease;
}

/* Menu item container */
.menu-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  position: relative;
}

/* Hover effect on menu items */
.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

/* Chevron icon rotation */
.chevron-icon {
  margin-left: auto;
  transition: transform 0.3s;
}

.chevron-icon.rotate-180 {
  transform: rotate(180deg);
}

/* Submenu list container */
.submenu-list {
  margin-left: 1.25rem;
  padding: 0;
  list-style-type: none;
  margin-top: 0.5rem;
}

/* Submenu item */
.submenu-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Hover effect on submenu items */
.submenu-item:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

@media screen and (min-width:1024px) {
  .menu-button{
    display: none;
  }
}
