/* Header Styles */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  position: fixed;
  z-index: 2;
  min-height: 4rem;
  transition: background-color 0.3s ease-in-out;
}

.nav-container {
  padding-right: 0.875rem; /* px-3.5 */
  padding-left: 0.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100rem; /* max-w-7xl */
  margin-left: auto;
  margin-right: auto;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo img {
  width: 8em; /* Adjust the width of your logo */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain;
}

/* Link Styling */
a, .nav-menu a {
  text-decoration: none;
  color: inherit; /* Inherit color from parent, if needed */
  font-weight: normal; /* Ensure font weight consistency */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

/* Menu List */
.nav-menu {
  display: flex;
  gap: 0.25rem; /* gap-x-1 */
}

.nav-menu.desktop {
  display: none;
}

.nav-menu.mobile {
  display: flex;
}

/* Styling for Desktop Menu */
.nav-menu.desktop li {
  list-style: none;
}

.nav-menu.desktop li a {
  padding: 1rem;
  font-size: 1rem;
  color: black; /* Default color */
  transition: color 0.3s ease; /* For hover color change */
}

.nav-menu.desktop li a:hover {
  color: #007bff; /* Hover color */
}

/* Responsive Design for Mobile */
@media screen and (min-width: 1024px) {
  .nav-menu.desktop {
    display: flex;
    justify-content: center;
  }

  .nav-menu.mobile {
    padding: 0;
    display: none;
  }
  
  .nav-logo img {
    width: 8rem; /* size-8 */
    height: 3rem;
  }
  
}

/* Additional hover style for mobile menu */
.nav-menu.mobile a {
  padding: 1rem;
  color: black;
}

.nav-menu.mobile a:hover {
  color: #007bff; /* Hover color */
}
