.accordion{
  &p,a,li,span,input {
    font-size: 1rem;
    letter-spacing: 0.12rem;
    line-height: 1.3;
    color: #fff;
    list-style: none;
  }
  & h1 {
    color:var(--black-color);
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
    padding-top: 2rem;
  }
}

.toggle-btn  {
  width: 35px;
  height: 35px;
  min-width: 35px;
  min-height: 35px;
  margin: 1rem;
  border-radius: 50%;
  border: none;
  position: relative;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center; /* Center SVG */
  
  svg {
    width: 70%;
    height: 70%;
    color: var(--white-color);
  }
  &:hover {
    background-color: var(--black-color) !important;
    color: #fff !important;
  }
}
 


/* ================================================ */

.section-accordion {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: .9rem;
  margin-top: 3rem;
  margin-bottom: 3rem;

  & li {
    background-color: #fff;
    border-left: 0.2rem var(--black-color);
    border-radius: 12px;
    list-style: none;
    transition: 0.3s ease-in-out;
    padding-left: .5rem;
  }

}

/* //extra adding accordion-grid */

.accordion-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.accordion-question {
  font-weight: bold;
  font-family: var(--font-base);
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  color: var(--black-color);
}
.answer{
  margin-top: .3rem;
  margin-right: 2rem;
  padding: .5rem;
  color: var(--black-color);

 & span{
  color:var(--black-color);
 }  
}
@media screen and (max-width: 980px) {
  .section-form form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-post ol {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 720px) {
  .section-post ol {
    grid-template-columns: repeat(1, 1fr);
  }
}
