@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");



/* For the sub-menu */
.sub-menu {
  position: absolute;
  top: 4.2rem;
  padding: 15px;
  border-radius: 6px;
  transform-origin: 50% -170px;
  backdrop-filter: blur(7px);
  background-color: rgba(255, 255, 255, 0.072);
  opacity: 0;
  display: none;
  transform: rotateX(-15deg);
  transition: opacity 0.5s, transform 0.5s;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sub-menu.block {
  background-color: #e4e4e4;
  opacity: 1;
  transform: rotateX(0);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* For the flex-center utility */
.flex-center {
  display: flex;
  align-items: center;
}


/* For the flex-center-between utility */
.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* General container for the list item */
.group-link {
  position: relative;
}

.menu-span:hover{
  color: #e4e4e4;
}


/* Hover effect for the sub-menu */
.group-link:hover .sub-menu {
  display: block;
}

/* Span inside the list item */
.menu-span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.75rem;
  cursor: pointer;
}

.group-link:hover .menu-span {
  background-color: rgba(255, 255, 255, 0.05);
}

/* Chevron icon rotation */
.chevron {
  margin-top: 0.6px;
  transition: transform 0.2s;
}

.group-link:hover .chevron {
  transform: rotate(180deg);
}

/* Submenu heading */
.submenu-heading {
  font-size: 0.875rem;
  margin-bottom: 0.5rem; /* Thoda space neeche dene ke liye */
  padding: 0.25rem 0.5rem; /* Thoda padding add karein */
  color: #ffffff;
}


/* Grid for submenu items */
.menu-grid {
  display: grid;
  gap: .5rem; /* Items ke beech ka gap */
}
.grid-cols-1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* Each submenu item */
.submenu-item {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.submenu-item:hover{
  background-color: rgba(255, 255, 255, 0.51);
}


/* For the submenu box */
.submenu-box {
  display: flex;
  align-self: first baseline ;
  gap: 0.5rem;
}

.submenu-icon {
  background-color: rgba(255, 255, 255, 0.074);
  padding: 0.5rem;
  border-radius: 0.375rem;
  transition: background-color 0.3s, color 0.3s;
}

.submenu-box:hover .submenu-icon {
  background-color: #ffffff;
  color: #111827;
}

/* Submenu title and description */
.submenu-title {
  font-weight: 600;
}

.submenu-desc {
  font-size: 0.875rem;
  color: #e4e4e4;
}
