* {
  box-sizing: border-box; /* Ensure box-sizing is border-box globally */
}

.app__works {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__work-filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem 0 1rem;

  .app__work-filter-item {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color:cadetblue;
    font-weight: 600;
    cursor: pointer;
    margin: 0.5rem;
    &:hover {
      
      color: #000;
    }
  }

  .item-active {
    
    color: black;
  }
}

.app__work-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .app__work-item {
    width: 200px;
    height: 300px;
    flex-direction: column;
    margin: 1.5rem;
    padding: 0;  /* Remove padding to ensure full width */
    overflow: hidden;
    position: relative; /* Position the content relative to the item */
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease;
    
    &:hover .app__work-content {
      bottom: 0; /* Slide the content up on hover */
      opacity: 1; /* Show content on hover */
    }
  }
}

.app__work-img {
  width: 100%;
  height: 100%;
  transition: opacity 1s ease; /* Optional: smooth fade effect */
}

.app__work-content {
  padding: 1rem;
  width: 100%; /* Ensure it takes full width */
  position: absolute; 
  bottom: -100%;
  background-color: var(--primary-color); /* Background color for popup */
  color: white; /* Text color */
  opacity: 0; /* Content hidden initially */
  transition: bottom 0.8s ease, opacity 1s ease; /* Smooth transition for slide-up effect */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items at the top */
  left: 0; /* Align the content to the left of the parent container */
  
  h4 {
    margin-top: 0;
    line-height: 1;
    font-weight: bold; /* Title bold */
  }

  .app__work-tag {
    margin-top: 0.5rem;
    color: white;
    font-weight: 600;
    display: inline-block;
  }
}
