@import url("https://fonts.googleapis.com/css?family=Inter:ital, opsz, wght@0, 14..32, 100..900;1,14..32,100..900& display=swap");

*{
    user-select: none;
}
#home .app__wrapper{
    position: relative;
    padding: 0;
    z-index: 1;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    animation: zoomEffect 5s linear forwards;
    z-index: 2;
}

a,p{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    

}

.slider{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.slider-images{
    position: absolute;
    width: 100%;
    height: 100%;
}

.img{
    position: absolute;
    width: 100%;
    height: 100%;

}

.slider-counter{
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    display: flex;
    gap: 0.5em;
    clip-path: polygon(0 0,100% 0, 100% 100%,0% 100%);
}

.slider-counter > div{
    flex: 1;
}

.slider-counter> p{
    line-height: 20px;
    font-weight: 900;
}

.counter{
    position: relative;
    top: 0px;
    will-change: transform;
}

.slider-title {
    position: absolute;
    text-transform: uppercase;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 90px;
    clip-path: polygon(0 0,100% 0, 100% 100%,0% 100%);
}

.slider-title-wrapper{
    position: absolute;
    width: 100%;
    top: 0px;
    text-align: center;
    will-change: transform;
}

.slider-title-wrapper p{
    font-size: 70px;
    line-height: 110px;
    font-weight: 900;
}

.slider-description{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    height: 64px;
    clip-path: polygon(0 0,100% 0, 100% 100%,0% 100%);
}
.slider-description-wrapper{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0px;
    text-align: center;
    will-change: transform;
}

.slider-description-wrapper p {
    color: rgb(224, 231, 237);
    font-size: 15px;
    line-height: 30px;
}

.slider-indicators  {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.slider-indicators p{
    position: relative;
    font-size: 40px;
    font-weight: 200;
    will-change: transform;
    font-weight: 600;
}


 

@keyframes zoomEffect {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}


@media (max-width: 900px) {
    .slider-indicators{
        width: 90%;
    }
    .slider-preview{
        width: 90%;
        bottom: 5em;
    }
    .slider-title-wrapper p{
        font-size: 30px;
        
    }
    .slider-indicators{
        display: none;
    }
    .slider-description{
        display: none;
    }
}