
.service_title {
  font-size: 3rem;
  text-align: center;
}

h3 {
  padding-top: 0.25em;
}

.vertical-timeline-element-icon {
  width: 60px !important;
  height: 60px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.vertical-timeline-element-icon img {
  max-width: 60%;
  max-height: 60%;
  object-fit: contain;
}



.date {
  color: rgb(201, 251, 255);
  display: none !important;
}

#description {
  color:aqua !important;
  margin: 1.5em 0 2em 0;
}
.rich-text {
  color: #333 !important; /* Change this to your desired color */
  font-size: 16px;
  line-height: 1.5;
}


.button {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: white;
}

.workButton {
  background-color: #06d6a0;
}

.workButton:hover {
  background-color: #0ac593;
}

.schoolButton {
  background-color: #f9c74f;
}

.schoolButton:hover {
  background-color: #f3bc3c;
}

@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: rgb(44, 44, 44);
    margin-top: 1.5em;
  }
}
